@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contract Monthly Claim System</h1>
    <p></p>
    <a asp-controller="Claim" asp-action="Index" class="btn btn-primary">Track Claim Status</a>
    <p></p>
    <a asp-controller="Manager" asp-action="Index" class="btn btn-primary">Manager Dashboard</a>
    <p></p>
    <a asp-controller="Lecturer" asp-action="Index" class="btn btn-primary">Lecturer Dashboard</a>
    <p></p>
    <a asp-controller="Coordinator" asp-action="Index" class="btn btn-primary">Coordinator Dashboard</a>
</div>
