@{
    ViewData["Title"] = "Lecturer Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Lecturer Dashboard</h1>
    <p></p>
    <a asp-controller="Claim" asp-action="Create" class="btn btn-primary">Submit Claim</a>
    <p></p>
    <a asp-controller="Claim" asp-action="Index" class="btn btn-primary">Track Claim Status</a>
</div>