@model IEnumerable<PROG6212POE.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lecturer Name
            </th>
            <th>
                Monthly Salary
            </th>
            <th>
                Hours Worked
            </th>
            <th>
                Claim File
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LecturerName)
            </td>
            <td>
                R @Html.DisplayFor(modelItem => item.SalaryMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                FileUrl
            </td>
        </tr>
}
    </tbody>
</table>
